apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: dtyq
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: dtyq
    app.kubernetes.io/part-of: byoc-app-uzoq
  name: dtyq
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: java-quarkus-app
      app.kubernetes.io/instance: dtyq
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-quarkus-app
        app.kubernetes.io/instance: dtyq
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/byoc-crjw-tenant/byoc-app-uzoq/dtyq@sha256:6de43760f326ca5c5fdba893d484822f9d7ff6f651b96c15ed860485ed762775
        name: my-java-quarkus
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
status: {}
